



/* Custom Theme */
$color-brand: #e93b3d;
$color-brand-light: #ef6c6e;
$color-brand-dark: #ba2f31;

.card-img{
    width:100%;
    height:100%;
    min-height: 100px;
}

@import "~taro-ui/dist/style/index.scss"; // 引入组件样式，仅需引入一次即可