* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    box-sizing: border-box;
    background: #eee;
    color: #666;
    font-size: 1.6rem;
}

h4 {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1.8rempx;
}

.aside {
    margin-top: 1.5rem;
}

.aside p {
    line-height: 1.5;
}

.aside ul {
    margin-top: 1rem;
}

.aside ul li {
    background: #fff;
    margin-bottom: 1rem;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.aside ul li input {
    flex: 1;
    width: 1rem;
    height: 1rem;

}

.aside ul li label {
    flex: 9;
    margin-left: .1rem;
}